
@{
    ViewBag.Title = "Управление задачами";
}


@section scripts
{
    <script type="text/javascript" src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    @*<script type="text/javascript" src="~/lib/gijgo/dist/modular/js/tree.min.js"></script>*@
    <script type="text/javascript" src="~/lib/gijgo/dist/combined/js/gijgo.min.js"></script>
    <link href="~/lib/gijgo/dist/combined/css/gijgo.min.css" rel="stylesheet" />
    <link href="~/lib/gijgo/dist/modular/css/tree.css" rel="stylesheet" />
    <script type="text/javascript" src="~/lib/bootstrap-treeview-1.2.0/dist/bootstrap-treeview.min.js"></script>

    <script type="text/javascript">
        var tree = null;
        var selectedTaskID;

        $(document).ready(function () {

            $.ajax({
                url: '@Url.Action("GetTreeData", "Home")',
                method: "GET",
                dataType: "json",
                success: function (data) {
                    tree = $('#treeTasks').treeview({
                        levels: 1,
                        data: data,
                        onNodeSelected: OnSelectedTaskChanged,
                    });
                    $('#btnAddTask').attr('disabled', false);
                }
            });

            $('#btnRemoveTask').on('click', function () {
                var selections = $('#treeTasks').treeview(true).getSelected();

                if (selections.length > 0) {
                    var selectedItemID = selections[0].id;
                    var formData = new FormData();
                    formData.append("id", selectedItemID);

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("RemoveTask", "Home")',
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            if (data.success == true) {
                                ReloadTasksTree();
                            }
                        }
                    })
                }
            });
        });

        $('#btnAddTask').on('click', function () {
            var url = $(this).data("url");

            $.get(url, function (data) {
                $('#addTaskDialogBody').html(data);
                $('#divDialog').modal('show');
            })
        });

        function OnTaskAddSuccess(data) {
            if (data.success != true) {
                alert("Не удалось добавить задачу.")
                return;
            }

            $('#divDialog').modal('hide');
            $('#addTaskDialogBody').html("");
            ReloadTasksTree();
        };

        function OnTaskUpdateSuccess(data) {
            if (data.success != true) {               

                    alert("Не удалось сохнранить задачу.")
                    return;
                
            }
            else {

                UpdateTaskDetaild(selectedTaskID);
                ReloadTasksTree();
            }
        };

        function OnSelectedTaskChanged(e, node) {
            var t = tree.dataSource;
            selectedTaskID = node.id;

            if (node.nodes != null && node.nodes.length > 0) {
                $('#btnRemoveTask').attr('disabled', true);
            }
            else
            {
                $('#btnRemoveTask').attr('disabled', false);
            }

            UpdateTaskDetaild(selectedTaskID);
        };

        function UpdateTaskDetaild(taskId) {
            var data = { taskID: taskId };
            $('#divTaskDetails').load('@Url.Action("TaskDetails", "Home")', data);
        };

        function ReloadTasksTree() {
            if (tree == null)
                return;
            $('#btnAddTask').attr('disabled', true);
            var expandedNodes = $('#treeTasks').treeview(true).getExpanded();

            $.ajax({
                url: '@Url.Action("GetTreeData", "Home")',
                method: "GET",
                dataType: "json",
                success: function (data) {
                    tree = $('#treeTasks').treeview({
                        level: 1,
                        data: data,
                        onNodeSelected: OnSelectedTaskChanged
                    });

                    var allNodes = $('#treeTasks').treeview(true).getCollapsed();

                    for (var i = 0; i < expandedNodes.length; i++) {

                        var findIdem = allNodes.find(function (it) {
                            return it.id == expandedNodes[i].id;
                        });
                        if (findIdem != null) {
                            $('#treeTasks').treeview(true).expandNode(findIdem);
                        }
                    }

                    $('#btnAddTask').attr('disabled', false);
                }
            });
        }

    </script>
}


<div class="row">
    <div class="col-md-2 menu-board ">
        <div class="text-center">
            <button id="btnAddTask" type="button" class="btn btn-success btn-block" data-toggle="modal" disabled="True" data-url="@Url.Action("AddTask", "Home")">
                <span class="glyphicon glyphicon-plus-sign"></span> Новая задача
            </button>
            <button id="btnRemoveTask" type="button" class="btn btn-danger btn-block" disabled="True" data-toggle="modal">
                <span class="glyphicon glyphicon-trash"></span> Удалить задачу
            </button>
        </div>        
        <div id="treeTasks"></div>
    </div>    
    <div class="col-md-10">
        <div id="divTaskDetails"></div>
    </div>
</div>

<div id="divDialog" class="modal fade" role="dialog" aria-labelledby="AddTaskDlg" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Новая задача</h4>
            </div>
            <div class="modal-body panel-body" id="addTaskDialogBody" width="100%">

            </div>
        </div>
    </div>
</div>

@*<div id="divRemoveDialog" class="modal fade" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Удалить задачу?</h4>
                </div>
                <div class="modal-body panel-body" width="100%">
                    <label id="txtConfitmDeleteMsg"></label>
                    <div class="text-center">
                        <input class="btn btn-primary" type="button" value="Да" id="btnConfirmRemoveTask" />
                        <input class="btn btn-default" id="btnCancelAddVplDlg" type="button" value="Нет" data-dismiss="modal" />
                    </div>
                </div>
            </div>
        </div>
    </div>*@

