@model TaskManagementWeb.Models.Task

<script type="text/javascript">
    $('#btnAddSubTask').on('click', function () {
        var url = $(this).data("url");

        $.get(url, function (data) {
            $('#addTaskDialogBody').html(data);
            $('#divDialog').modal('show');
        })
    });
</script>

<div>
    <div class="container-fluid bg-primary" >
        <div >
            <div class='btn-toolbar pull-right'>
                <div class='btn-group'>
                    <button id="btnAddSubTask" class="btn btn-success pull-right" data-url="@Url.Action("AddTask", "Home", new { parentID = Model.ID })">Добавить подзадачу</button>
                </div>
            </div>
            <h3 class="text-center">@Model.Name</h3>
        </div>
        
    </div>
    <form asp-action="UpdateTask" asp-controller="Home" data-ajax="true" data-ajax-method="POST" data-ajax-success="OnTaskUpdateSuccess">
        @Html.HiddenFor(m => m.ID)
        <div class="form-group">
            <label>Наименование:</label>
            @Html.TextBoxFor(m => m.Name, new { @id = "tbName", @class = "form-control", @width = "100%", @required = "true" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label>Описание:</label>
            @Html.TextAreaFor(m => m.Description, new { @id = "tbDescription", @class = "form-control", })
            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label>Исполнитель:</label>
            @Html.TextBoxFor(m => m.Implementer, new { @id = "tbImplementer", @class = "form-control", @required = "true" })
            @Html.ValidationMessageFor(m => m.Implementer, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label>Дата регистрации:</label>
            <div class="panel">
                @Html.DisplayFor(m => m.CreationTimeStamp)
            </div>
        </div>

        <div class="form-group">
            <label>Статус:</label>
            @Html.DropDownListFor(m => m.Status, new List<SelectListItem>()
                                        {
                                            new SelectListItem() { Text = "Назначена", Value = "1" },
                                            new SelectListItem() { Text = "Выполняется", Value = "2"},
                                            new SelectListItem() { Text = "Приостановлена", Value = "3"},
                                            new SelectListItem() { Text = "Завершена", Value = "4"},
                                        },
                                            new { @id="selectStatus", @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Плановая трудоемкость задачи (часов):</label>

            <div class="panel panel-default">
                <div class="form-inline">
                    <label>Плановая трудоемкость текущей задачи (часов):</label>
                    @Html.TextBoxFor(m => m.PlannedExecutionTimeHours, new { @id = "tbPlannedExecutionTime", @class = "form-control", @required = "true" })
                    @Html.ValidationMessageFor(m => m.PlannedExecutionTimeHours, "", new { @class = "text-danger" })
                </div>

                @if (Model.HasSubtasks)
                {
                    <div class="panel panel-default ">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapsePlanned">Плановая трудоемкость подзадач:</a>
                            </h4>
                        </div>
                        <div id="collapsePlanned" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table table-bordered table-striped table-condensed">
                                    <thead><tr><td>Наименование подзадачи</td><td>Трудоемкость</td></tr></thead>
                                    <tbody>
                                        @foreach (var subtask in Model.Subtasks)
                                        {
                                            <tr>
                                                <td>@subtask.Name</td>
                                                <td>@subtask.CalculatedPlannedExecutionTimeHours</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="form-inline">
                        <label>Общая плановая трудоемкость текущей задачи (часов):</label>
                        @Html.DisplayFor(m => m.CalculatedPlannedExecutionTimeHours)
                    </div>
                }

            </div>

            <div class="panel">
                
            </div>

            

        </div>

        <div class="form-group">
            <label>Фактическое время выполнения (часов):</label>
            <div class="panel">
                @Html.TextBoxFor(m => m.ActualExecutionTimeHours, new { @id = "tbActualExecutionTime", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ActualExecutionTimeHours, "", new { @class = "text-danger" })
            </div>
            @if (Model.HasSubtasks)
            {
                <div class="panel panel-default ">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapseActual">Фактическое время выполнения подзадач:</a>
                        </h4>
                    </div>
                    <div id="collapseActual" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-bordered table-striped table-condensed">
                                <thead><tr><td>Наименование подзадачи</td><td>Фактическое время выполнения</td></tr></thead>
                                <tbody>
                                    @foreach (var subtask in Model.Subtasks)
                                    {
                                        <tr>
                                            <td>@subtask.Name</td>
                                            <td>@subtask.ActualExecutionTimeHours</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
            
       </div>

        <div class="form-group">
            <label>Дата завершения:</label>
            <div class="panel">
                @if (Model.CompleteTimeStamp != null)
                {
                    @Html.DisplayFor(m => m.CompleteTimeStamp);
                }
                else
                {
                    <p>Отсутствует</p>
                }
            </div>
        </div>

        <div class="text-right">
            <input class="btn btn-primary" type="submit" value="Сохранить изменения" />
        </div>
    </form>
 </div>
